<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@user.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_with model: @user, local: true do |u| %>
<div class="form-group">
    <%= u.label(:firstname, "First Name") %>
    <%= u.text_field(:firstname, class: "form-control") %>
</div>
<div class="form-group">
    <%= u.label(:surname, "Surname") %>
    <%= u.text_field(:surname, class: "form-control") %>
</div>
<div class="form-group">
    <%= u.label(:email, "E-mail") %>
    <%= u.text_field(:email, class: "form-control") %>
</div>
<div class="form-group">
    <%= u.label(:password, "Password") %>
    <%= u.password_field(:password, class: "form-control") %>
</div>
<div class="form-group">
    <%= u.label(:password_confirmation, "Password confirmation") %>
    <%= u.password_field(:password_confirmation, class: "form-control") %>
</div>
<%= u.submit "Send", class: "btn btn-primary"%>
<%= link_to('Back', users_index_path, class: "btn btn-primary") %>
<% end %> 