<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div id="new">
                <h1>Edit user: <%= @user.firstname %></h1>
                
            <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
