<div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div id="list">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>List of users</h1>
                            <%= link_to("Add user", new_user_path, class: "btn btn-primary float-right")%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tr>
                                    <th>First name</th>
                                    <th>Surname</th>
                                    <th>E-mail</th>
                                    <th>Password</th>
                                    <th>Actions</th>
                                </tr>
                                <% @users.each do |user| %>
                                <tr>
                                    <td><%=user.firstname%></td>
                                    <td><%=user.surname%></td>
                                    <td><%=user.email%></td>
                                    <td><%=user.password%></td>
                                    <td>
                                        <%= link_to('Edit', edit_user_path(user), class: "btn btn-primary") %>
                                        <%= link_to('Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger") %>
                                    </td>
                                </tr>
                                <% end%>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    