<div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div id="new">
                    <h1>Sign in</h1>
                    
                    
                <%= form_for(:session, url: login_sign_in_path) do |f| %>
                <div class="form-group">
                    <%= f.label(:email, "Login:") %>
                    <%= f.email_field(:email, class: "form-control") %>
                </div>
                <div class="form-group">
                    <%= f.label(:password, "Password:") %>
                    <%= f.password_field(:password, class: "form-control") %>
                </div>
                <div class="form-group">
                    <%= f.submit("Sign In", class: "btn btn-primary")%>
                <% end %>
                </div>
            </div>
        </div>
    </div>
    