<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">User Administration</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to('Sign Out', login_sign_out_path)%></li>
          <% else %>
            <li><%= link_to('Sign In', login_index_path)%></li>
          <% end %>
        </ul>
      </div>
    </nav>
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>
  </body>
</html>
